.course p {
  padding-top: 10px;
  text-align: center;
}
.course ul li {
  list-style: none;
  line-height: 40px;
}
.course ul li span {
  padding-left: 30px;
  background-color: #fff;
  border-radius: 0.2rem;
}
.course a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
@media (max-width: 480px) {
  .course p {
    text-align: justify;
  }
  #p1 {
    text-align: justify;
  }
}
